@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #fbf6e2;
  color: #000000;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 64px;
  background: #ffc629;

  box-shadow: 4px 4px 24px 0px #3f3f3f33;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: #fcf9f4;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px 13px 0;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 30px;
  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 800px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 100px 0;

  border-radius: 0px 0px 26px 26px;

  background: #fcf9f4;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;

  color: #000000;
}

.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}
.header-title {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }
  .header-title {
    width: 40px;
    height: 40px;

    margin-right: 550px;
  }
  .header {
    width: 100%;

    height: 72px;
    padding: 16px 108px 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1200px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 30px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .navigation__link {
    display: flex;

    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .navigation__link:hover,
  .navigation__link:focus {
    background: transparent;
  }
  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 812px;
  padding: 534px 16px 0;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/hero_section.png");
}

.home-title {
  font-family: Playfair Display;
  font-size: 54px;
  font-weight: 900;
  line-height: 72px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffc629;
  -webkit-text-stroke: 4px #8338ec;
}
.home-text {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;

  padding: 16px 0 40px;
}
.home__google-button_link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 800px;
    padding: 245px 0 0 108px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/home/hero_section\ \(1\).png");
  }

  .home-title {
    font-family: Playfair Display;
    font-size: 92px;
    font-weight: 900;
    line-height: 122px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    -webkit-text-stroke: 4px #8338ec;
  }

  .home-text {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 16px 0 40px;
    width: 600px;
  }
  .home__google-button_link {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0;
  }
}
.about {
  padding: 60px 0px;
  margin: auto;
  width: 375px;
  height: 841px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/about/BG_about.png");
}
.about-title {
  font-family: Open Sans;
  font-size: 34px;
  font-weight: 700;
  line-height: 42px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.about-text-container {
  padding: 32px 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.about-text {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}
.about-img {
  width: 343px;
  height: 285px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/about/img.png");
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 122px 108px 0;
    margin: auto;
    width: 1440px;
    height: 525px;
    display: flex;
    align-items: start;
    flex-direction: row-reverse;
    gap: 24px;
    background-image: url("/img/about/BG\ \(1\).png");
  }

  .about-img {
    width: 494px;
    height: 285px;
    background-image: url("/img/about/img\ \(1\).png");
  }
  .about-text-container {
    padding: 32px 0 0;
    width: 704px;
  }
  .about-text {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.gallery {
  width: 375px;
  height: 622px;
  margin: auto;
  padding: 60px 16px 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/gallery/BG_gallery\ \(1\).png");
}
.gallery-title-container {
  display: flex;
  align-items: start;
  gap: 16px;
  justify-content: center;
}
.gallery-title {
  font-family: Playfair Display;
  font-size: 24px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.015em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffc629;
}
.gallery-title-img {
  width: 78px;
  height: 32px;
}
.gallery__list {
  width: 359px;
  padding-top: 40px;
  margin: auto;
}

.gallery__item {
  width: 236px;
  height: 424px;
  overflow: hidden;
  position: relative;
  margin: 0 12px;
}
.gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    height: 883px;
    margin: auto;
    padding: 120px 0;
    background-image: url("/img/gallery/BG.png");
  }
  .gallery-title-container {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
  }
  .gallery-title {
    font-family: Playfair Display;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0.015em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .gallery-title-img {
    width: 92px;
    height: 38px;
  }

  .gallery__list {
    padding-top: 80px;
    width: 1440px;
  }

  .gallery__item {
    width: 288px;
    height: 514px;
  }
}
.advantages {
  width: 375px;
  height: 1106px;
  margin: auto;
  padding: 60px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/advantages/Reviews\ \(1\).png");
}
.advantages-title {
  color: #4a007f;
}
.advantages-list {
  padding-top: 40px;
  width: 343px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.advantages-item {
  width: 343px;
  height: 220px;
  padding: 24px;
  background: #fdecff;
  box-shadow: 0px 0px 20px 0px #1c27481f;
  border-radius: 8px;
}

.advantages-text-bold {
  padding-top: 8px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.advantages-text {
  padding-top: 24px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.advantages-text-top {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 1200px) {
  .advantages {
    width: 1440px;
    height: 809px;
    margin: auto;
    padding: 120px 212px 0;

    background-image: url("/img/advantages/Reviews.png");
  }
  .advantages-title {
    color: #4a007f;
  }
  .advantages-list {
    padding-top: 80px;
    width: 1016px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .advantages-item {
    width: 496px;
    height: 204px;
    padding: 24px;
  }

  .advantages-text-bold {
    padding-top: 8px;

    font-family: Montserrat;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .advantages-text {
    padding-top: 24px;

    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.play {
  width: 345px;
  margin: auto;
  padding: 60px 0px;
}

.play-list {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  padding-top: 40px;
}
.play-item {
  width: 288px;
  height: 308px;
  padding: 40px 24px 40px 24px;
  border-radius: 18px;
  background: #4a007f;
  box-shadow: 0px 0px 20px 0px #3a1f521f;
}
.play-item-two {
  background: #f8bd49;
}

.play-img {
  margin: auto;
}
.play-text-bold {
  font-family: Playfair Display;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.015em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffc629;
  padding: 24px 0 8px;
}
.play-text-bold-two {
  color: #4a007f;
}
.play-text {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}
.play-text-two {
  color: #000000;
}

@media screen and (min-width: 1200px) {
  .play {
    width: 1440px;
    height: 1080px;

    padding: 120px 264px;

    margin: auto;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/play/key_features.png");
  }
  .play-list {
    margin: auto;
    display: flex;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 80px;
  }
  .play-item {
    width: 288px;
    height: 340px;
  }

  .play-text-bold {
    font-family: Playfair Display;
    font-size: 22px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0.015em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .play-text {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.faq {
  padding: 60px 16px;
  margin: auto;
  width: 375px;
  min-height: 656px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/faq/BGfaq.png");
}
.faq-container {
  width: 343px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: auto;
}

.faq-item {
  width: 343px;
  padding: 16px 16px 16px 10px;
  border-radius: 8px;
  background: #fdecff;
  box-shadow: 0px 0px 20px 0px #3a1f521f;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  gap: 1px;

  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.toggle-button {
  background: none;
  border: none;
  width: 24px;
  height: 24px;

  cursor: pointer;
}

.faq-answer {
  display: none;
  padding-top: 16px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .faq {
    padding: 120px 420px;
    margin: auto;
    width: 1440px;
    min-height: 849px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/faq/BG\ \(2\).png");
  }
  .faq-container {
    width: 600px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: auto;
  }

  .faq-item {
    width: 600px;
  }

  .faq-question {
    display: flex;
    justify-content: space-between;
    gap: 1px;

    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .toggle-button {
    background: none;
    border: none;
    width: 24px;
    height: 24px;

    cursor: pointer;
  }

  .faq-answer {
    display: none;
    padding-top: 16px;

    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.footer {
  color: #00000099;

  background: #ffc629;

  padding: 40px 16px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;

  align-items: center;

  gap: 90px;
}
.footer-text {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
  color: #000000;
}

.footer-copyright {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 24px;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 50px 150px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 1440px;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 24px;
  }
  .footer-text {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .footer-copyright {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 40px;
  }
}
.policy-terms {
  flex-direction: column;
  align-items: start;
  padding: 124px 16px 51px;
}

.policy-terms-title {
  font-family: Playfair Display;
  font-size: 24px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.015em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.policy-terms-text {
  font-family: Playfair Display;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.015em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;

  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: #3044ff;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms {
    flex-direction: column;
    padding: 192px 212px 120px;
    width: 1440px;
    margin: auto;
  }

  .policy-terms-title {
    font-family: Playfair Display;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0.015em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .policy-terms-text {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 40px;
  }
  .policy-terms-texts {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .policy-terms-text-one {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 30px;
  }

  .terms-list {
    list-style-type: disc;

    padding: 20px 0 20px 25px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    display: flex;
    flex-direction: column;
  }

  .terms-lists {
    list-style-type: disc;

    padding-left: 25px;

    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
