@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #fefefe;
  color: #2a2a2a;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 64px;
  background: #fcf9f4;
  box-shadow: 0px 4px 36px 0px #c1b4a066;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: #fcf9f4;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px 13px 0;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 30px;
  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 400px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 0;

  border-radius: 0px 0px 26px 26px;

  background: #fcf9f4;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.005em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
  color: #ffffff;
  color: #000000;
}

.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}
.header-title {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }
  .header-title {
    width: 40px;
    height: 40px;

    margin-right: 664px;
  }
  .header {
    width: 100%;

    height: 72px;
    padding: 16px 108px 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1200px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 36px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    display: flex;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .navigation__link:hover,
  .navigation__link:focus {
    background: transparent;
  }
  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 812px;
  padding: 476px 16px 0;

  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/home/Hero\ Image.png");
}

.home-title {
  font-family: Open Sans;
  font-size: 34px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fe5d37;
}
.home-text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.005em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 16px 0 24px;
}
.home__google-button_link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 62px;
  width: 203px;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 800px;
    padding: 242px 0 0 161px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/image/home/hero_section.png");
  }

  .home-title {
    font-family: Open Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    width: 401px;
  }

  .home-text {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.005em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 16px 0 32px;
    width: 401px;
  }
  .home__google-button_link {
    display: flex;
    align-items: center;

    justify-content: center;
    margin: 0 0 0 96px;
  }
}
.about {
  padding: 30px 16px;
  margin: auto;
  width: 375px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-title {
  font-family: Open Sans;
  font-size: 34px;
  font-weight: 700;
  line-height: 42px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.about-text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 24px 0 32px;
}
.about-img {
  width: 343px;
  height: 376px;
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 60px 108px;
    margin: auto;
    width: 1440px;
    display: flex;
    flex-direction: row-reverse;
    gap: 132px;
  }
  .about-title {
    font-family: Open Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: left;
    text-transform: uppercase;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .about-img {
    width: 496px;
    height: 543px;
  }
  .about-text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 40px 0 0;
  }
}
.advantages {
  width: 375px;
  margin: auto;
  padding: 30px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.advantages-list {
  padding-top: 40px;
  width: 375px;
}
.advantages-item {
  margin: 0 12px;
}

.advantages-text-bold {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 34px 16px;
  width: 288px;
  height: 168px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/advantages/Review\ Text\ Container.png");
}
.advantages-text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.005em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.advantages-text-bottom {
  padding-top: 16px;
  display: flex;
  gap: 16px;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .advantages {
    width: 1440px;
    padding: 60px 0px 106px;
  }
  .advantages-list {
    padding-top: 80px;
    width: 1440px;
  }
}

.gallery {
  width: 375px;
  margin: auto;
  padding: 60px 16px 30px;
}
.gallery-title {
  font-family: Open Sans;
  font-size: 34px;
  font-weight: 700;
  line-height: 42px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}
.gallery__list {
  width: 359px;
  padding-top: 40px;
  margin: auto;
}

.gallery__item {
  width: 264px;
  height: 404px;
  box-shadow: 0px 4px 20px 0px #becfd566;
}

@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    margin: auto;
    padding: 120px 0 60px;
  }
  .gallery-title {
    font-family: Open Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .gallery__list {
    padding-top: 70px;
    width: 1440px;
  }

  .gallery__item {
    width: 392px;
    height: 600px;
  }
}
.play {
  width: 345px;
  margin: auto;
  padding: 30px 16px;
}
.play-title {
  text-align: center;
}
.play-list {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  padding-top: 40px;
}
.play-item {
  width: 343px;
  height: 240px;
  padding: 24px;
  border-radius: 18px;
  background: #913ce5;
}
.play-item-two {
  background: #fe5d37;
}
.play-item-three {
  background: #ed7f92;
}
.play-img {
  margin: auto;
}
.play-text-bold {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.005em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 24px 0 8px;
}
.play-text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}
.faq {
  width: 375px;
  margin: auto;
  text-align: center;
  padding: 30px 16px 60px;
}
.faq-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 40px;
}
.faq-item {
  border-bottom: 1px solid #fe5d37;
}
.faq-text-bold {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.faq-text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 8px 0 24px;
}
@media screen and (min-width: 1200px) {
  .faq {
    width: 1440px;
    margin: auto;

    padding: 60px 212px 120px;
  }
  .faq-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    column-gap: 184px;
    padding-top: 80px;
    height: 530px;
  }
  .faq-item {
    border-bottom: 1px solid #fe5d37;
    width: 416px;
  }
  .faq-text-bold {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .faq-text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 16px 0 32px;
  }
}

@media screen and (min-width: 1200px) {
  .play {
    width: 1432px;
    height: 762px;
    margin: auto;

    padding: 60px 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/image/benefits/Benefits\ Section.png");
  }
  .play-list {
    margin: auto;
    display: flex;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 80px;
  }
  .play-item {
    width: 392px;
    height: 240px;
    padding: 28px 60px;
    border-radius: 18px;
    background: #913ce5;
  }
  .play-item-two {
    background: #fe5d37;
  }
  .play-item-three {
    background: #ed7f92;
  }
  .play-item-four {
    width: 600px;
    padding: 28px 86px;
  }

  .play-text-bold {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 24px 0 8px;
  }
  .play-text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.footer {
  color: #fff;
  background: #fe5d37;

  padding: 40px 16px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;

  align-items: center;

  gap: 70px;
}
.footer-text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
  color: #ffffff;
}

.footer-copyright {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 24px;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 50px 150px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 1440px;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 24px;
  }
  .footer-text {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .footer-copyright {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 40px;
  }
}
.policy-terms {
  flex-direction: column;
  align-items: start;
  padding: 114px 0px 51px;
}
.policy-terms-container {
  flex-direction: column;
  align-items: start;
  padding: 0px 15px;
}
.policy-terms-title {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Open Sans;
  font-size: 34px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.policy-terms-text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: #3044ff;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms {
    flex-direction: column;
    align-items: start;
    padding: 157px 0px 100px;
    width: 1440px;
    margin: auto;
  }
  .policy-terms-container {
    flex-direction: column;
    align-items: start;
    padding: 0px 72px;
  }
  .policy-terms-title {
    font-family: Open Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .policy-terms-text {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 40px;
  }
  .policy-terms-texts {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .policy-terms-text-one {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 30px;
  }

  .terms-list {
    list-style-type: disc;

    padding: 20px 0 20px 25px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    display: flex;
    flex-direction: column;
  }

  .terms-lists {
    list-style-type: disc;

    padding-left: 25px;

    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
